<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.ui.views">
        <view
                name="Exercise Overview"
                category="com.school.eclipse.studentpractice.views"
                class="com.school.eclipse.student.views.ExerciseOverviewView"
                id="com.school.eclipse.student.views.ExerciseOverviewView">
        </view>
    </extension>

    <extension
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="org.eclipse.ui.resourcePerspective">
            <view
                    id="com.school.eclipse.student.views.ExerciseOverviewView"
                    relative="org.eclipse.ui.navigator.ProjectExplorer"
                    relationship="right"
                    ratio="0.35">
            </view>
        </perspectiveExtension>
    </extension>
</plugin>
